<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Exception Handler 사용하기</h1>

    <h2>local exception handler</h2>
<button onclick="location.href='controller-null'">Null point Exception Test</button>



    <h2>MemberRegistException</h2>
    <button onclick="location.href='controller-user'">Member Regist  Exception Test</button>

<hr/>
<h2>Global exception Handler</h2>
<a href="other-controller-null">Global null pointer</a>
    <a href="other-controller-user">Global custom Exception</a>
    <a href="other-controller-array">Global Exception</a>

</body>
</html>