<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>파일 업로드하기</h1>

<h3>single file 업로드</h3>
<form action="single-file" method="post" enctype="multipart/form-data">
<!--  multipart/form-data 는 사용자가 폼에 입력한 데이터를 여러 부분으로 나누어서
  전송할 수 있게 해준다.. 각부분은 다른 데이터 유형을 포함할 수 있으며
  주로 파일 업로드시 사용된다 파일을 포함한 폼 데이터 전송시 필수적이다-->
    파일 : <input type="file" name="singleFile"><br>
    파일 설명 : <input type="text" name="singleFileDescription"><br>
    <button type="submit">전송하기</button>
</form>


    <h3>Multi file 업로드</h3>
    <form action="multi-file" method="post" enctype="multipart/form-data" >
        <!--  multipart/form-data 는 사용자가 폼에 입력한 데이터를 여러 부분으로 나누어서
          전송할 수 있게 해준다.. 각부분은 다른 데이터 유형을 포함할 수 있으며
          주로 파일 업로드시 사용된다 파일을 포함한 폼 데이터 전송시 필수적이다-->
        파일 : <input type="file" name="multipartFile" multiple><br>
        파일 설명 : <input type="text" name="multiFileDescription"><br>
        <button type="submit">전송하기</button>
    </form>
</body>
</html>