<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Interceptor 이용하여 controller 가로채기</h1>

<!--
    Spring interceptor 는 Spring 프레임 워크에서 제공하는 기능 중 하나로
    클라이언트의 요청을 가로채는 처리를 하는 역할 한다
    이를 통해 공통적인 로직(로깅(시스템이 작동할 때 시스템의 작동상태에 기록과 보존,
    이용자의 습성 조사 및 시스템 동작의 분석응)을 하기 위한 정보를 기록할 필요가 있는데
    이 기록을 만드는 것을 로깅이라고한다)
    성능 측정, 캐싱 처리등의 목적으로 특정 조건을 검사하고 해당 요청을 처리하거나 무시할 수 있다
    interceptor는 특정요건 url에만 적용되도록 매핑할 수 있다는 점이 필터와 유사
    하지만 인터셉터는 스프링 웹 어플리케이션 컨텍스테에 구성이라
    컨테이너 기능 사용 가능하고 내부에 선언된 모든 빈을 참조 가능하다.
-->

<h3>핸들러 인터셉트를 이용한 요청처리 시간 확인하기</h3>
<form action="stopwatch" method="post">
    권한 : <input type="text" name="auth" required><br>
    <button>요청하기</button>
</form>

</body>
</html>