<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>업데이트 페이지</h1>
<form action="update" method="post" onsubmit="return validateForm()">
    수정할 메뉴의 코드 :<input type="number" name="code"/><br>
    수정할 메뉴의 이름 :<input type="text" name="name"/><br>
    수정할 메뉴의 가격 :<input type="number" name="price" id="price"/><br>
    수정할 메뉴의 카테고리 :<input type="number" name="categoryCode" id="categoryCode"/><br>
    <button type="submit">등록하기</button>
</form>
<a href="http://localhost:8080">돌아가기</a>


<script>

    function validateForm(){
        const priceField = document.getElementById("price");
        const categoryCOdeFiled = document.getElementById("categoryCode");

        if (!priceField.value){
            priceField.value =0;
        }
        if (!categoryCOdeFiled.value){
            categoryCOdeFiled.value =0;
        }

        return true;
    }
</script>
</body>
</html>