<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .header{
            color: red;
        }
    </style>
</head>
<body>
 <!-- th:replace 해당영역에 있는 코드를 대처하는 문법
    기존의 블록을 지우고 불러온 Fragment 로 대체한다-->
    <header th:replace="~{/common/header :: headerFragment}">
        <h1>나는 Header</h1>
    </header>

 <!--frgment에 매개변수를 전달하여 동적으로 ui를 꾸미는것도 가능하다-->
 <aside th:replace="~{/common/aside :: asideFragment(${test1},${test2})}"></aside>

<!--th:insert는 해당영역에 삽입하고자하는 fragment 를 삽입하는 문법으로
    불러오는 블록을 기준으로 내부의 값을 제거하고
    불러온 fragment로 삽입한다.
-->

<footer th:insert="~{/common/footer ::footerFragment}">
    <h2>나는 Footer</h2>
</footer>
</body>
</html>